# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# VSCode
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# ML DATA (VERY IMPORTANT)
dataset/
frames/
training/
temp_frames/
temp_video/

# Model weights (ignore large files)
*.h5
*.pt
*.pth

# OR ignore full folder (better)
saved_models/

# Uploads (temporary files)
uploads/

# Build files
build/
dist/

# Jupyter
.ipynb_checkpoints/